# Banco de dados
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432

# Backend
BACKEND_PORT=3001
FRONTEND_URL=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_WS_URL=ws://localhost:3001/ws
